h1{color:white; font-family:Berlin Sans FB Demi;background-color:rgb(5, 102, 102);}
h2{color:rgb(123, 56, 109);}
	p{background-color:rgb(5, 153, 155); color:black; font-family:Kristen ITC;}
	table{background-color:rgb(5, 62, 85); color:White;}
	ul{color:rgb(5, 153, 182);}
	ol{color:Black; background-color:rgb(5, 153, 182);}
	form{background-color:rgb(5, 102, 102); color:White;}  